.popup-fade, .popup-fade2 {
  display: none;
}
.popup-fade:before, .popup-fade2:before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 99;
}
.popup, .popup2 {
  position: fixed;
  top: 20%;
  left: 20%;
  padding: 25px;
  width: 60%;
  background: #fff;
  border: 2px solid silver;
  border-radius: 4px;
  z-index: 999;
  opacity: 1;
}
.popup-close, .popup-close2 {
  position: absolute;
  top: 5px;
  right: 5px;
}
