<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/master.css">
    <link rel="stylesheet" href="static/css/popup.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
  </head>
  <body>
    <div class="tableGr">
      <table>
        <th>Имя групы</th>
        <th>URL группы</th>
        <th>Сообщение</th>
        <th>Стиль</th>
        <th>Дата подписки</th>
        <th>Сумма</th>
        <th>Отправления</th>
        <th>Управление</th>
        {% for ob in obj %}
        <tr>
          <td>{{ ob.groupName }}</td>
          <td><a href="{{ ob.groupUrl }}">{{ ob.groupUrl }}</a></td>
          <td style="white-space: pre-line">{{ ob.message }}</td>
          <td>{{ ob.style }}</td>
          <td>{{ ob.payDay }}</td>
          <td>{{ ob.money }}</td>
          <td>{{ ob.send }}</td>
          <td>
            <button onclick="sendId('{{ ob.groupName }}')">Отправить пост</button>
            <button onclick="removeGroup('{{ ob.groupName }}')">Удалить</button>
            <button onclick="openWin('{{ ob.groupName }}', {{ ob.money }}, {{ ob.payDay }})">Редактировать</button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <button id="But" onclick="send()">Запуск скрипта</button>
    <button class="popup-open2">Добавить группу</button>
    <button id="But2" onclick="reserSt()">Сбросить статус</button>

    <!-- окно добавления группы в БД -->
    <div class="popup-fade2">
      <div class="popup2">
        <a class="popup-close2" href="#">Закрыть</a>
        <form method="post" id="ajax_form">
          <input type="text" name="groupName" value="">
          <label for="">Имя группы</label>
          <br>
          <input type="text" name="groupUrl" value="">
          <label for="">Ссылка на группу</label>
          <br>
          <input type="number" name="style" value="" min="0" max="2">
          <label for="">Стиль (0-2)</label>
          <br>
          <textarea name="message" rows="8" cols="80">
🥰Друзья, нажмите кнопку ❤
👪Вам не трудно - а именинникам приятно)))
🎉Сегодня День рождения отмечают:
{ids}</textarea>
          <label for="">Сообщение</label>
          <br>
          <br>
          <input type="date" name="payDay" value="">
          <label for="">Дата подписки</label>
          <br>
          <input type="number" name="money" value="">
          <label for="">Сумма</label>
          <br>
          <input type="button" id="btn" value="Добавить" />
        </form>
      </div>
    </div>
    <!-- окно редактирования даты и цены -->
    <div class="popup-fade">
      <div class="popup">
        <a class="popup-close" href="#">Закрыть</a>
        <form method="post" id="ajax_form2">
          <input readonly type="text" name="gName" id="gName">
          <label for="">Имя группы</label>
          <br>
          <input type="date" name="payDay" id="payDay">
          <label for="">Дата подписки</label>
          <br>
          <input type="number" name="money" id="money">
          <label for="">Сумма</label>
          <br>
          <input type="button" id="btn2" value="Изменить" />
        </form>
      </div>
    </div>
  </body>
</html>
